extends ../layout
block content

  form(method="POST", action="/users/new")
    p
      label(for="username") Username<br />
      input#username(name="username")
    p
      input(type="submit", value="Create")
