/**
* @Author: thomasvanhoutte
* @Date:   2017-01-12T10:16:03+01:00
* @Last modified by:   thomasvanhoutte
* @Last modified time: 2017-01-12T18:49:36+01:00
*/



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
