extends layout

block content
    nav
        ul
            li
                a(href='/calculatorTestsAssert') Assert testing of calculator (console) &raquo;
            li
                a(href='/jsonMessageTestsShould') Assert/Should testing of a JSON message &raquo;
            li
                a(href='/messageTests') Assert/Should/Mocha testing of a JSON message &raquo;
         